:root {
    --font-family: 'Helvetica', sans-serif;
}

.container.bg1 {
    background-color: black; /* Set the background color of the container to black */
    padding: 1rem; /* Add padding for spacing */
}

.icon {
    width: 24.2%;
    padding: 0.6rem;
    background-color: black; /* Set the background color of the icons to black */
    filter: brightness(0) invert(0.6);
    transition: filter 0.3s; /* Add smooth transition effect */
}

.icon:hover {
    filter: brightness(1) invert(0);
}